.header {
  background-color: rebeccapurple;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {}

.nav-logo-icon {}

.gallery-css {
  font-size: large;
  color: rosybrown;

}

.gallery-css:hover {
  color: red;
  transition: 500ms;
}



.form-css {
  font-size: large;
  color: rosybrown;
}

.form-css:hover {
  color: red;
  transition: 500ms;
}